@use 'variables';
@use 'mixins';

.navbar {
    display: grid;
    grid-template-columns: 300px 1fr 1fr;
    align-items: center;
    padding: 2rem 0;
    color: variables.$primary-color;
    max-width: 80vw;
    margin: auto;

    svg {
        width: 200px;
    }

    .navbar_menu {
        @include mixins.font-weight(bold);
        @include mixins.flex-row;
        gap: 3rem;
        justify-content: start;

        @for $i from 1 through 4 {
            .menu-#{$i} {
                position: relative;
                cursor: pointer;
            }
    
            .menu-#{$i}:hover {
            color: variables.$primary-color; 
            }
    
            .menu-#{$i}::before {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: variables.$primary-color;
                transform: scaleX(0);
                transition: transform 0.3s ease;
              }
    
              .menu-#{$i}:hover::before {
                transform: scaleX(1);
              }
              
        }
    }

    .navbar_buttons {
        @include mixins.flex-row;
        align-items: center;
        gap: 1rem;
        justify-content: end;
        
        .search-bar {
            @include mixins.flex-row;
            gap: 1rem;
            background-color: variables.$color-white;
            padding: 0.8rem 1rem ;
            border-radius: 50px;
            border: solid 2px variables.$color-white;
            

            #search {
                border: none;
                width: 250px;
            }

            i {
                color: variables.$color-grey;
                font-size: 20px;
            }
        }

        .button-1 {
            @include mixins.button-style(variables.$primary-color, variables.$color-white, 5rem);
            @include mixins.font-weight(regular);
        }

        .button-1:hover{
            @include mixins.button-style(variables.$transparent, variables.$primary-color, 5rem);
        }

    }
}