// Fonts

$bold : 'Gilroy-Bold', sans-serif;
$heavy: 'Gilroy-Heavy', sans-serif;
$light: 'Gilroy-Light', sans-serif;
$medium: 'Gilroy-Medium', sans-serif;
$regular: 'Gilroy-Regular', sans-serif;

// Colors
$primary-color : #003459;
$secondary-color: #F7DBA7;

$transparent : transparent;

$color-white : #fff;
$color-grey : #667479;

// Padding & Margin

$padding : 10rem;