// Fonts

$bold : 'Gilroy-Bold', sans-serif;
$heavy: 'Gilroy-Heavy', sans-serif;
$light: 'Gilroy-Light', sans-serif;
$medium: 'Gilroy-Medium', sans-serif;
$regular: 'Gilroy-Regular', sans-serif;

// Colors
$primary-color : #003459;
$secondary-color: #FCEED5;

$transparent : transparent;

$color-white : #fff;
$color-grey : #667479;
$color-black : #000;
$color-blue : #00A7E7;

// Border radius
$border-20 : 20px