@use 'variables';
@use 'mixins';
@use 'navbar';

* {
    padding: 0;
    margin : 0;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
}

header {
    background-color: variables.$secondary-color;
}